.grid-container {
  width: 90vw;
  display: grid;
  grid-template-columns: 10vw 16vw 16vw 16vw 16vw 16vw 10vw;
  grid-auto-rows: minmax(15vw, 20vw);
  /* background: green;
  opacity: 0.6; */
}

.grid-component {
  display: grid;
  position: relative;
  /* background-color: red;
  opacity: 0.6;
  margin: 3px; */
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.wide-3 {
  grid-column: span 3;
}

.grid8, .grid10, .grid18, .grid21, .grid24, .grid37, .grid43, .grid47, .grid50, .grid62{
  white-space: pre-wrap;
}

.grid8 h4 {
  justify-self: start;
  align-self: end;
}

.grid18 h4 {
  justify-self: end;
  align-self: end;
  padding-right: 20px;
}

.grid21 h4 {
  justify-self: end;
  align-self: start;
  padding-right: 20px;
}

.grid24 h4 {
  justify-self: start;
  align-self: end;
}

.grid43 h4 {
  justify-self: end;
  align-self: start;
  padding-right: 20px;
}

.grid47 h4 {
  justify-self: start;
  align-self: end;
}

.grid62 h4 {
  padding-left: 20px;
}
/* Images */

ul img  {
  border: 8px solid #fff;
}
.grid4 img{
width: 28vw;
height: auto;
position: absolute;
left: 0;
bottom: 0;
}

.grid11 img{
width: 30vw;
height: auto;
position: absolute;
right: 0;
bottom: 0;
}

.grid14 img{
width: 28vw;
height: auto;
}

.grid19 img{
width: 30vw;
height: auto;
position: absolute;
left: 0;
bottom: 0;
}

.grid27 img{
width: 30vw;
height: auto;
position: absolute;
left: 0;
bottom: 0;
}

.grid30 img{
width: 32vw;
height: auto;
}

.grid44 img{
width: 37vw;
height: auto;
position: absolute;
left: 0;
bottom: 0;
}

.grid54 img{
width: 44vw;
height: auto;

}

.grid61 img{
width: 32vw;
height: auto;
position: absolute;
right: 0;
}

.grid68 img{
width: 44vw;
height: auto;
position: absolute;
top: -50px;
z-index: 16;
}

@media (max-width: 620px){
  ul img  {
    border: 4px solid #fff;
  }

  .grid8, .grid10, .grid18, .grid21, .grid24, .grid43, .grid37, .grid47, .grid50, .grid62{
    visibility: hidden;
  }
}
@media (min-width:621px) and (max-width:800px){

  }

@media (min-width: 621px){


  }
